	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/10/2017 08:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-support:before { content: "\f100"; }
.flaticon-business-partnership:before { content: "\f101"; }
.flaticon-handshake:before { content: "\f102"; }
.flaticon-job-opportunities:before { content: "\f103"; }
.flaticon-solution:before { content: "\f104"; }
.flaticon-puzzle:before { content: "\f105"; }
.flaticon-award:before { content: "\f106"; }
.flaticon-medal:before { content: "\f107"; }
.flaticon-prize-badge-with-star-and-ribbon:before { content: "\f108"; }
.flaticon-education:before { content: "\f109"; }
.flaticon-petri-dish:before { content: "\f10a"; }
.flaticon-time-planning:before { content: "\f10b"; }
.flaticon-planning:before { content: "\f10c"; }
.flaticon-strategy:before { content: "\f10d"; }
.flaticon-line-graph:before { content: "\f10e"; }
.flaticon-clock:before { content: "\f10f"; }
.flaticon-meeting:before { content: "\f110"; }
.flaticon-growth:before { content: "\f111"; }